@helper Helper() {
    <div id="lipsum-helper">
    
        <p>
            Vivamus sodales fermentum auctor. Vestibulum vulputate metus vitae tellus fringilla,
            quis laoreet purus vestibulum. Fusce a ex vitae libero auctor rutrum et quis nisi.
            Vestibulum a mi scelerisque, laoreet urna id, blandit dui. Ut eleifend ornare erat,
            ac rhoncus ligula elementum quis. Curabitur vulputate, lectus eu sagittis bibendum,
            est felis fermentum ipsum, id bibendum arcu lacus vitae ante. Quisque rutrum accumsan
            risus, ullamcorper dapibus est elementum ac. Morbi porta iaculis diam, ut mollis magna
            maximus nec. Curabitur vestibulum tortor risus, at tincidunt eros mollis at.
            Suspendisse pharetra leo nunc, vitae mattis urna sodales sit amet. Nam et quam molestie,
            dignissim enim ac, facilisis ex. Donec dapibus cursus elit ac porta. Curabitur ut lorem
            tempus, viverra magna non, aliquet orci. Suspendisse molestie arcu eget nibh iaculis,
            vitae porta est molestie. Maecenas pharetra, nunc vitae posuere porttitor, elit lectus
            dictum orci, a tristique dui nulla dignissim elit. Sed aliquam est vel vulputate ultrices.
        </p>


        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis nulla malesuada,
            tempor augue non, ultricies arcu. Pellentesque condimentum ligula quis arcu vestibulum,
            eget tincidunt eros sodales. Sed porta ullamcorper diam vel fermentum. Vivamus sit amet
            laoreet erat, eleifend laoreet eros. Praesent iaculis nibh in lorem porttitor mattis.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eleifend mauris quis
            commodo elementum.
        </p>

    </div>
}